@{
    ViewData["Title"] = "Home Page";
}


<header class="section__container header__container">
    <h1 class="section__header">Find And Book<br />A Great Experience</h1>
    <img src="assets/header.jpg" alt="header" />
</header>

<section>
    <div class="container-fluid">
        <form method="post"  asp-action="SearchFlights" asp-controller="Flights">
         


            <div class="row justify-content-center mt-5">
                <div class="col-11 mx-auto">
                    <div class="rounded p-3 bg-cp">
                  
                        <div class="row mb-3 ">
                            <input type="hidden" id="IsOneWay" name="IsOneWay" value="false" />
                            <div class="col-auto form-check">
                                <input type="radio" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault1" onclick="toggleReturnDate(false)" checked />
                                <label for="flexRadioDefault1" class="form-check-label fw-bold fs-7">RoundTrip</label>
                            </div>


                            <div class="col-auto form-check">
                                <input type="radio" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault2" onclick="toggleReturnDate(true)" />
                                <label for="flexRadioDefault2" class="form-check-label fw-bold fs-7">One Way</label>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-2">
                                <label class="form-label fw-bold fs-8 m-0">From</label>

                                
                                <select class="form-select inp-height inp-width" aria-label="Default select example"
                                        name="From" id="from">
                                    <option value="Ankara">Ankara</option>
                                    <option value="Istanbul">Istanbul</option>
                                    <option value="Denizli">Denizli</option>
                                    <option value="Kırşehir">Kırşehir</option>
                                </select>

                            </div>

                            <div class="col-auto ">
                                <button class="btn btn-white p-2 mt-4 " id="swapButton" onclick="swapValues(event)">
                                    <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                </button>
                            </div>


                            <div class="col-md">
                                <label class="form-label fw-bold fs-8 m-0">To</label>

                                <select class="form-select inp-height inp-width" aria-label="Default select example"
                                        name="To" id="to">

                                    <option value="Ankara">Ankara</option>
                                    <option value="Istanbul">Istanbul</option>
                                    <option value="Denizli">Denizli</option>
                                    <option value="Kırşehir">Kırşehir</option>
                                </select>

                            </div>

                            <div class="col-md ">
                                <label class="fw-bold fs-8">Departure</label>
                                <input type="date" name="Depart" id="deparDate" class="form-control inp-height inp-width" />

                            </div>

                            <div class="col-md">
                                <label class="fw-bold fs-8">Arrival</label>
                                <input type="date" name="Return" id="returnDate" class="form-control inp-height inp-width" />

                            </div>

                            <div class="row mt-3">
                                <div class="col">
                                    <button type="submit" class="btn fw-bolder fs-8" style="background-color:var(--primary-color-dark);color:#ffff;">
                                        Search Flights
                                    </button>

                                </div>
                            </div>

                        </div>
                    </div>
        </form>
    </div>
</section>
<section id="About" class="section__container plan__container">
    <p class="subheader">TRAVEL SUPPORT</p>
    <h2 class="section__header">Plan your travel with confidence</h2>
    <p class="description">
        Find help with your bookings and travel plans, and seee what to expect
        along your journey.
    </p>
    <div class="plan__grid">
        <div class="plan__content">
            <span class="number">01</span>
            <h4>Travel Requirements for Dubai</h4>
            <p>
                Stay informed and prepared for your trip to Dubai with essential
                travel requirements, ensuring a smooth and hassle-free experience in
                this vibrant and captivating city.
            </p>
            <span class="number">02</span>
            <h4>Multi-risk travel insurance</h4>
            <p>
                Comprehensive protection for your peace of mind, covering a range of
                potential travel risks and unexpected situations.
            </p>
            <span class="number">03</span>
            <h4>Travel Requirements by destinations</h4>
            <p>
                Stay informed and plan your trip with ease, as we provide up-to-date
                information on travel requirements specific to your desired
                destinations.
            </p>
        </div>
        <div class="plan__image">
            <img src="assets/plan-1.jpg" alt="plan" />
            <img src="assets/plan-2.jpg" alt="plan" />
            <img src="assets/plan-3.jpg" alt="plan" />
        </div>
    </div>
</section>

<section class="memories">
    <div class="section__container memories__container">
        <div class="memories__header">
            <h2 class="section__header">
                Travel to make memories all around the world
            </h2>
            <button class="view__all">View All</button>
        </div>
        <div class="memories__grid">
            <div class="memories__card">
                <span><i class="ri-calendar-2-line"></i></span>
                <h4>Book & relax</h4>
                <p>
                    With "Book and Relax," you can sit back, unwind, and enjoy the
                    journey while we take care of everything else.
                </p>
            </div>
            <div class="memories__card">
                <span><i class="ri-shield-check-line"></i></span>
                <h4>Smart Checklist</h4>
                <p>
                    Introducing Smart Checklist with us, the innovative solution
                    revolutionizing the way you travel with our airline.
                </p>
            </div>
            <div class="memories__card">
                <span><i class="ri-bookmark-2-line"></i></span>
                <h4>Save More</h4>
                <p>
                    From discounted ticket prices to exclusive promotions and deals,
                    we prioritize affordability without compromising on quality.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section__container lounge__container">
    <div class="lounge__image">
        <img src="assets/lounge-1.jpg" alt="lounge" />
        <img src="assets/lounge-2.jpg" alt="lounge" />
    </div>
    <div class="lounge__content">
        <h2 class="section__header">Unaccompanied Minor Lounge</h2>
        <div class="lounge__grid">
            <div class="lounge__details">
                <h4>Experience Tranquility</h4>
                <p>
                    Serenity Haven offers a tranquil escape, featuring comfortable
                    seating, calming ambiance, and attentive service.
                </p>
            </div>
            <div class="lounge__details">
                <h4>Elevate Your Experience</h4>
                <p>
                    Designed for discerning travelers, this exclusive lounge offers
                    premium amenities, assistance, and private workspaces.
                </p>
            </div>
            <div class="lounge__details">
                <h4>A Welcoming Space</h4>
                <p>
                    Creating a family-friendly atmosphere, The Family Zone is the
                    perfect haven for parents and children.
                </p>
            </div>
            <div class="lounge__details">
                <h4>A Culinary Delight</h4>
                <p>
                    Immerse yourself in a world of flavors, offering international
                    cuisines, gourmet dishes, and carefully curated beverages.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section__container travellers__container">
    <h2 class="section__header">Best travellers of the month</h2>
    <div class="travellers__grid">
        <div class="travellers__card">
            <img src="assets/traveller-1.jpg" alt="traveller" />
            <div class="travellers__card__content">
                <img src="assets/client-1.jpg" alt="client" />
                <h4>Emily Johnson</h4>
                <p>Dubai</p>
            </div>
        </div>
        <div class="travellers__card">
            <img src="assets/traveller-2.jpg" alt="traveller" />
            <div class="travellers__card__content">
                <img src="assets/client-2.jpg" alt="client" />
                <h4>David Smith</h4>
                <p>Paris</p>
            </div>
        </div>
        <div class="travellers__card">
            <img src="assets/traveller-3.jpg" alt="traveller" />
            <div class="travellers__card__content">
                <img src="assets/client-3.jpg" alt="client" />
                <h4>Olivia Brown</h4>
                <p>Singapore</p>
            </div>
        </div>
        <div class="travellers__card">
            <img src="assets/traveller-4.jpg" alt="traveller" />
            <div class="travellers__card__content">
                <img src="assets/client-4.jpg" alt="client" />
                <h4>Daniel Taylor</h4>
                <p>Malaysia</p>
            </div>
        </div>
    </div>
</section>

<section class="subscribe">
    <div class="section__container subscribe__container">
        <h2 class="section__header">Subscribe newsletter & get latest news</h2>
        <form class="subscribe__form">
            <input type="text" placeholder="Enter your email here" />
            <button class="buttons">Subscribe</button>
        </form>
    </div>
</section>



<script>
    function swapValues(event) {
        event.preventDefault();
      
        var from = document.getElementById("from").value;
        var to = document.getElementById("to").value;


        document.getElementById("from").value = to;
        document.getElementById("to").value = from;
    }


 
    function toggleReturnDate(isOneWay) {
        var returnDateInput = document.getElementById('returnDate');
        var isOneWayInput = document.getElementById('IsOneWay');

      
        returnDateInput.disabled = isOneWay;

     
        isOneWayInput.value = isOneWay.toString();

    
        if (isOneWay) {
            returnDateInput.value = '';
        }
    }

</script>
